<!-- anime name -->

<div>
    <label class='form_label' for='form_name'>Name</label><br>
    <input class='form_input' id='form_name' type='text' name='name' value='{{ anime.name }}'/>
</div>

<!-- anime-scription -->
<div>
    <label class='form_label' for='form_desc'>Description</label><br>
    <input class='form_input' id='form_desc' type='text' name='description' value='{{ anime.description }}'/>
</div>

<!-- image url -->
<div>
    <label class='form_label' for='form_image'>Image URL</label><br>
    <input class='form_input' id='form_image' type='text' name='image' value='{{ anime.image }}'/>
</div>
