<!--anime_new.html -->
{% extends 'base.html' %}

{% block content %}
<div class="nav_container">
    <button class='header_btn' onclick="location.href='/';">Back</button>
    <div id="logo" onclick="location.href='/';">Anime Things</div>
</div>

<div class='anime_form'>
    <form method='POST' action='/animes'>
        {% include 'partials/animes_form.html' %}
        <button type='submit' class='anime_btn' style="margin-left: 0px;">Save Anime Listing</button>
    </form>
</div>
{% endblock %}
